In [2]:
# https://pypi.org/project/mysql-connector-python/
# !pip install mysql-connector-python

In [8]:
import mysql.connector as connection

In [14]:
try:
    mydb = connection.connect(host='localhost',
                             user='root',
                             password='root')
    print(f"Connected to : {mydb}")
    
    cursor = mydb.cursor()
    query = "show databases;"
    cursor.execute(query)
    print(f"{cursor.fetchall()}")
except Exception as e:
    mydb.close()
    print(f"Exception : {e}")

Connected to : <mysql.connector.connection_cext.CMySQLConnection object at 0x0000027AB4AAC730>
[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [21]:
# CREATE DATABASE
query = 'CREATE database project_practice;'
cursor.execute(query)
print(f"CREATE DATABASE : {cursor.fetchall()}")

query = "show databases;"
cursor.execute(query)
print(f"SHOW DATABASE :")
for db_name in cursor.fetchall():
    print(f"{db_name[0]}")

# TO DROP/DELETE DATABASE
# query = 'drop database project_practice;'

CREATE DATABASE : []
SHOW DATABASE :
information_schema
mysql
performance_schema
project_practice
sakila
sys
world

In [27]:
# CREATE TABLE
mydb = connection.connect(host='localhost',
                          user='root',
                          password='root', 
                          database='project_practice')
cursor = mydb.cursor()
print(f"Connected to : {mydb} , {cursor}")

query = """create table if not exists student_details (stud_id int(10) auto_increment primary key, first_name varchar(20),
last_name varchar(20), registration_date date, class varchar(20), section varchar(20));"""
# query = """use project_practice;
# create table student_details (stud_id int(10) auto_increment primary key, first_name varchar(20),
# last_name varchar(20), registration_date date, class varchar(20), section varchar(20));"""
cursor.execute(query)
print(f"SHOW TABLE : {cursor.fetchall()}")

Connected to : <mysql.connector.connection_cext.CMySQLConnection object at 0x0000027AB4A67DF0> , CMySQLCursor: (Nothing executed yet)
SHOW TABLE : []

In [34]:
# INSERT DATA
query = "INSERT INTO student_details (first_name, last_name, registration_date, class, section) VALUES (%s, %s, %s, %s, %s);"
values = ("John", "Smith", "2000-06-16", "1", "A")

cursor.execute(query, values)

mydb.commit()

print(cursor.rowcount, "record inserted.")

1 record inserted.

In [35]:
query = "INSERT INTO student_details (first_name, last_name, registration_date, class, section) VALUES (%s, %s, %s, %s, %s);"
values = [
    ("Sam", "Smith", "2002-06-11", "2", "B"),
    ("Lily", "Prince", "2003-07-17", "5", "C"),
    ("Anna", "Moly", "2001-05-26", "2", "A"),
    ("Will", "Turnor", "2003-06-11", "3", "B"),
    ("Jacky", "Chan", "2002-06-20", "4", "A")
]
# To insert multiple rows into a table, use the executemany() method.
cursor.executemany(query, values)

mydb.commit()

print(cursor.rowcount, "record inserted.")

5 record inserted.

In [37]:
query = "select * from student_details;"
cursor.execute(query)
print(f"TABLE student_details :")
for db_name in cursor.fetchall():
    print(f"{db_name}")

TABLE student_details :
(1, 'John', 'Smith', datetime.date(2000, 6, 11), '2', 'A')
(2, 'John', 'Smith', datetime.date(2000, 6, 11), '2', 'A')
(3, 'John', 'Smith', datetime.date(2000, 6, 16), '1', 'A')
(4, 'Sam', 'Smith', datetime.date(2002, 6, 11), '2', 'B')
(5, 'Lily', 'Prince', datetime.date(2003, 7, 17), '5', 'C')
(6, 'Anna', 'Moly', datetime.date(2001, 5, 26), '2', 'A')
(7, 'Will', 'Turnor', datetime.date(2003, 6, 11), '3', 'B')
(8, 'Jacky', 'Chan', datetime.date(2002, 6, 20), '4', 'A')

# USE CASE : BANK MANAGEMENT SYSTEM

## FLOW CHART

1. register
2. login 

### MENU WILL BE DISPLAYED

1. create bank account
2. transaction
3. customer details
4. transaction details
5. delete account
6. quit

#### option 3 and 4 : data is fetch from the database

#### option 1, 2, 5, 6 : data insert in the database

In [41]:
import mysql.connector as connection
from datetime import datetime
import numpy as np
import uuid 

db_connection = connection.connect(host='localhost',
                          user='root',
                          password='root', 
                          database='bank_project')
db_cursor = db_connection.cursor()
print(f"Connected to {db_connection} : {db_connection.is_connected()} ")

Connected to <mysql.connector.connection_cext.CMySQLConnection object at 0x0000016887A6C9A0> : True

In [42]:
def create_tables(db_connection, db_cursor):
    try:
#         CREATE USER TABLE
        query = """create table if not exists user_table(
        user_name varchar(25) primary key,
        user_password varchar(25) not null
        );"""
        db_cursor.execute(query)
        db_connection.commit()
#         print(f"Created user table successfully!")
        
#         CREATE CUSTOMER DETAILS TABLE 
        query = """create table if not exists customer_details_table(
        account_no varchar(50) primary key,
        account_name varchar(25) not null,
        phone_no bigint(25) check(phone_no > 9),
        address varchar(25),
        account_balance float not null
        );"""
        db_cursor.execute(query)
        db_connection.commit()
#         print(f"Created customer details table successfully!")
        
#         CREATE TRANSACTIONS TABLE
        query = """create table if not exists transactions_table(
        account_no varchar(50),
        transaction_date timestamp,
        withdrawal_amount float,
        deposit_amount float,
        balance_amount float
        );"""
        db_cursor.execute(query)
        db_connection.commit()
#         print(f"Created transactions table successfully!")
        
    except Exception as e:
        print(f"[create_tables] Exception : {e}")
        exit(1)
        '''
        Python has only two standard codes, i.e., a one and a zero. 
        The exit code of 0 means that the process has been executed and exited successfully. 
        This means no error was encountered. On the other hand, an error code of 1 indicates 
        that the process exited with a failure.
        '''

def transaction(user_name):
    print(f"\n1. WITHDRAW AMOUNT. \n2. DEPOSIT AMOUNT. \n3. EXIT. ")
    try:
        transaction_choice = int(input("ENTER YOUR CHOICE PLEASE : "))
        match transaction_choice:
            case 1:
                witdraw_amount = float(input("ENTER AMOUNT : "))
                last_digit_account_no = input("ENTER LAST 4 CHARECTOR OF YOUR ACCOUNT NUMBER : ")
                conform_password = input("CONFORM PASSWORD : ")
                
#                 VERIFY THE ACCOUNT NUMBER
                query = f"""select 
                    cd.account_no, 
                    substr(cd.account_no, -4, 4) as last_four_char, 
                    cd.account_balance, 
                    u.user_password 
                from customer_details_table cd
                join user_table u
                    on cd.account_name = u.user_name
                where cd.account_name = '{user_name}';"""
                db_cursor.execute(query)
                result = db_cursor.fetchall()[0]
                account_no = result[0]
                last_four_char = result[1]
                account_balance = result[2]
                user_password = result[3]
                transaction_date = str(datetime.now()).split('.')[0]
                
                if last_four_char == last_digit_account_no and user_password == conform_password:
                    if witdraw_amount <= account_balance:
#                         MAKE TRANSACTION
                        query = f"""insert into transactions_table 
                        values ('{account_no}', '{transaction_date}', 
                        {witdraw_amount}, NULL, {account_balance - witdraw_amount});"""
                        db_cursor.execute(query)
                        db_connection.commit()
                
#                         UPDATE BALANCE
                        query = f"""update customer_details_table 
                        set account_balance = ({account_balance - witdraw_amount})
                        where account_no = '{account_no}' 
                            and account_name = '{user_name}';"""
                        db_cursor.execute(query)
                        db_connection.commit()
                        
                        print("amount withdrawn successfully. \n".upper())
                    else:
                        print("insufficient balance. please try again.".upper())
                else:
                    print("invalid credentials. please try again.".upper())
            case 2:
                deposit_amount = float(input("ENTER AMOUNT : "))
                last_digit_account_no = input("ENTER LAST 4 CHARECTOR OF YOUR ACCOUNT NUMBER : ")
                conform_password = input("CONFORM PASSWORD : ")
                
#                 VERIFY THE ACCOUNT NUMBER
                query = f"""select 
                    cd.account_no, 
                    substr(cd.account_no, -4, 4) as last_four_char, 
                    cd.account_balance, 
                    u.user_password 
                from customer_details_table cd
                join user_table u
                    on cd.account_name = u.user_name
                where cd.account_name = '{user_name}';"""
                db_cursor.execute(query)
                result = db_cursor.fetchall()[0]
                account_no = result[0]
                last_four_char = result[1]
                account_balance = result[2]
                user_password = result[3]
                transaction_date = str(datetime.now()).split('.')[0]
                
                if last_four_char == last_digit_account_no and user_password == conform_password:
                    if deposit_amount > 0:
#                         MAKE TRANSACTION
                        query = f"""insert into transactions_table 
                        values ('{account_no}', '{transaction_date}', 
                        NULL, {deposit_amount}, {account_balance + deposit_amount});"""
                        db_cursor.execute(query)
                        db_connection.commit()
                        
#                         UPDATE BALANCE
                        query = f"""update customer_details_table 
                        set account_balance = ({account_balance + deposit_amount})
                        where account_no = '{account_no}' 
                            and account_name = '{user_name}';"""
                        db_cursor.execute(query)
                        db_connection.commit()
                        
                        print("amount deposited successfully. \n".upper())
                    else:
                        print("invalid amount. please try again.".upper())
                else:
                    print("invalid credentials. please try again.".upper())
            case 3:
                print("THANK YOU FOR VISITING !!!")
                pass
#                 break
            case _:
                print("PLEASE TRY AGAIN...")
    except Exception as e:
        print(f"[main_page_menu] Exception : {e}")
        print(f"PLEASE TRY AGAIN...")

def show_customer_details(user_name):
    print(f"hello {user_name}. your account details are : ".upper())
    query = f"""
    select 
        cd.account_no, 
        cd.account_name, 
        cd.phone_no, 
        cd.address, 
        cd.account_balance, 
        tt.transaction_date as account_created_date
    from customer_details_table cd
    join (
            select account_no, transaction_date 
            from transactions_table
            order by transaction_date
        ) tt
        on tt.account_no = cd.account_no
    where cd.account_name = '{user_name}'
    limit 1; """
    db_cursor.execute(query)
    result = db_cursor.fetchall()[0]
    account_no = result[0]
    account_name = result[1]
    phone_no = result[2]
    address = result[3]
    account_balance = result[4]
    account_created_date = result[5]
    print(f"1. Account Number : {account_no} \n2. User Name : {account_name} \n3. Phone Number : {phone_no}")
    print(f"4. Address : {address} \n5. Account Balance : {account_balance} \n6. Account Created @ {account_created_date}")
    print("**"*10)
    
def show_transaction_details(user_name):
    print(f"hello {user_name}. your transaction details are : ".upper())
    query = f"""
    select 
        tt.transaction_date, 
        tt.withdrawal_amount, 
        tt.deposit_amount, 
        tt.balance_amount
    from transactions_table tt
    where tt.account_no = (
        select cd.account_no
        from customer_details_table cd 
        where cd.account_name = '{user_name}'); """
    db_cursor.execute(query)
    print(f"transaction_date \twithdrawal_amount \tdeposit_amount \tbalance_amount".upper())
    for result in db_cursor.fetchall():
        for col in result:
            print(f"{col}", end=' \t\t ')
        print('')
    print("**"*10)
    
def main_page_menu(user_name):
    print(f"\nhello {user_name}\n".upper())
    print(f"----- MAIN MENU -----\n")
    while 1:
        print(f"\n1. TRANSACTION. \n2. SHOW CUSTOMER DETAILS. \n3. SHOW TRANSACTION DETAILS. \n4. DELETE ACCOUNT. \n5. EXIT. ")
        try:
            menu_choice = int(input("ENTER YOUR CHOICE PLEASE : "))
            match menu_choice:
                case 1:
                    print("MENU : TRANSACTION")
                    transaction(user_name)
                case 2:
                    print("MENU : SHOW CUSTOMER DETAILS")
                    show_customer_details(user_name)
                case 3:
                    print("MENU : SHOW TRANSACTION DETAILS")
                    show_transaction_details(user_name)
                case 4:
                    print("MENU : DELETE ACCOUNT")
                case 5:
                    print("THANK YOU FOR VISITING IN OUR BANK !!!")
                    break
                case _:
                    print("PLEASE TRY AGAIN...")
        except Exception as e:
            print(f"[main_page_menu] Exception : {e}")
            print(f"PLEASE TRY AGAIN...")
    
def register_new_user():
    print(f"PLEASE FILL THE REGISTATION DETAILS : ")
    user_name = input("USER NAME : ")
    user_password = input("PASSWORD : ")
    phone_no = int(input("PHONE NUMBER : "))
    address = input("ADDRESS : ")
    credite_amt = float(input("CREATE AMOUNT : ") or "0")
    account_no = str(uuid.uuid4()) # GENERATE ACCOUNT ID
    transaction_date = str(datetime.now()).split('.')[0]
    
#     CHECK IF USER NAME IS AVAILABLE OR NOT
    query = f"""select * from user_table where user_name = '{user_name}';"""
    db_cursor.execute(query)
    
#     INSERT USER DATA TO USER TABLE
    if len(db_cursor.fetchall()) == 0:
        try: 
            query = f"""insert into user_table (user_name, user_password) 
            values ('{user_name}', '{user_password}');"""
            db_cursor.execute(query)
            db_connection.commit()
        except Exception as e:
            print(f"[INSERT USER DATA TO USER TABLE] Exception : {e}")
        
#         ADD CUSTOMER DETAILS IN CUSTOMER DETAIL TABLE 
        try:
            query = f"""insert into customer_details_table (account_no, account_name,
            phone_no, address, account_balance) values ('{account_no}', '{user_name}', 
            {phone_no}, '{address}', {credite_amt});"""
            db_cursor.execute(query)
            db_connection.commit()
#             print(f"ADD CUSTOMER DETAILS IN CUSTOMER DETAIL TABLE : {db_cursor}")
        except Exception as e:
            print(f"[ADD CUSTOMER DETAILS IN CUSTOMER DETAIL TABLE] Exception : {e}")
            
#         CREATE 1ST TRANSACTION
        if credite_amt > -1:
            balance_amount = credite_amt
        else:
            credite_amt, balance_amount = 0, 0
            
#         INSERT TRANSACTION TO TRANSACTION TABLE
        try:
            query = f"""insert into transactions_table (account_no, 
            transaction_date, withdrawal_amount, deposit_amount, balance_amount) 
            values ('{account_no}', '{transaction_date}', NULL, {credite_amt}, {balance_amount});"""
            db_cursor.execute(query)
            db_connection.commit()
#             print(f"INSERT TRANSACTION TO TRANSACTION TABLE : {db_cursor}")
        except Exception as e:
            print(f"[INSERT TRANSACTION TO TRANSACTION TABLE] Exception : {e}")
            
#             GO TO HOME PAGE ---X---X---
        main_page_menu(user_name)

    else:
        print(f"USER NAME IS ALREADY TAKEN. PLEASE TRY AGAIN...")
        
def login_user():
    print(f"PLEASE ENTER USERNAME AND PASSWORD : ")
    user_name = input("USER NAME : ")
    user_password = input("PASSWORD : ")
    
    query = f"""select user_name from user_table 
    where user_name = '{user_name}' 
    and user_password = '{user_password}';"""
    db_cursor.execute(query)
    
    if len(db_cursor.fetchall()) > 0:
#         GO TO HOME PAGE ---X---X--- 
        main_page_menu(user_name)
    else:
        print(f"SORRY, WRONG USERNAME AND PASSWORD. PLEASE TRY AGAIN...")
        
def login_register(choice):
#     CHECK IF REGISTER
    if choice == 1:
        register_new_user()
#     LOGIN USER
    elif choice == 2:
        login_user()

In [43]:
def main():
    create_tables(db_connection, db_cursor)
    print(f"----- WELLCOME TO MYSQL BANK -----")
    while True:
        print(f"\n1. REGISTER AS NEW USER. \n2. LOGIN AS USER. \n3. EXIT. ")
        try:
            login_register_choice = int(input("ENTER YOUR CHOICE PLEASE : "))
            if login_register_choice == 3:
                break
            login_register(login_register_choice)
        except Exception as e:
            print(f"[main] Exception : {e}")
            print(f"PLEASE TRY AGAIN...")

main()

----- WELLCOME TO MYSQL BANK -----

1. REGISTER AS NEW USER.
2. LOGIN AS USER.
3. EXIT.
ENTER YOUR CHOICE PLEASE : 2
PLEASE ENTER USERNAME AND PASSWORD :
USER NAME : kiran
PASSWORD : kiran

HELLO KIRAN

----- MAIN MENU -----


1. TRANSACTION.
2. SHOW CUSTOMER DETAILS.
3. SHOW TRANSACTION DETAILS.
4. DELETE ACCOUNT.
5. EXIT.
ENTER YOUR CHOICE PLEASE : 2
MENU : SHOW CUSTOMER DETAILS
HELLO KIRAN. YOUR ACCOUNT DETAILS ARE :
1. Account Number : 8b575cf0-3567-4ac2-8199-7808c9ee0f72
2. User Name : kiran
3. Phone Number : 1542366527
4. Address : andheri
5. Account Balance : 26.9
6. Account Created @ 2023-09-03 14:14:57
********************

1. TRANSACTION.
2. SHOW CUSTOMER DETAILS.
3. SHOW TRANSACTION DETAILS.
4. DELETE ACCOUNT.
5. EXIT.
ENTER YOUR CHOICE PLEASE : 3
MENU : SHOW TRANSACTION DETAILS
HELLO KIRAN. YOUR ACCOUNT DETAILS ARE :
transaction_date 	withdrawal_amount 	deposit_amount 	balance_amount
2023-09-03 14:14:57 		 None 		 21.0 		 21.0
2023-09-04 11:54:40 		 1.2 		 None 		 19.8
2023-09-04 12:00:49 		 1.3 		 None 		 19.7
2023-09-04 12:02:16 		 1.3 		 None 		 19.7
2023-09-04 12:07:39 		 None 		 5.0 		 24.7
2023-09-04 12:45:32 		 None 		 2.2 		 26.9

1. TRANSACTION.
2. SHOW CUSTOMER DETAILS.
3. SHOW TRANSACTION DETAILS.
4. DELETE ACCOUNT.
5. EXIT.
ENTER YOUR CHOICE PLEASE : 5
THANK YOU FOR VISITING IN OUR BANK !!!

1. REGISTER AS NEW USER.
2. LOGIN AS USER.
3. EXIT.
ENTER YOUR CHOICE PLEASE : 3

In [22]:
# db_connection = connection.connect(host='localhost',
#                           user='root',
#                           password='root', 
#                           database='bank_project')
# db_cursor = db_connection.cursor()
# print(f"Connected to {db_connection} : {db_connection.is_connected()} ")

# query = f"""drop table if exists customer_details_table;
# drop table if exists transactions_table;
# drop table if exists user_table;
# """
# db_cursor.execute(query)
# db_connection.commit()

In [23]:
# !pip install shortuuid

In [24]:
# import shortuuid 
# su = shortuuid.ShortUUID(alphabet="0123456789")
# su.uuid()
# # su.get_alphabet()

In [ ]:
# https://stackoverflow.com/questions/31309594/check-if-query-run-successfully-through-python#:~:text=echo%20%24%3F,1%20if%20its%20not%20successful.
# https://www.datacamp.com/tutorial/tutorial-how-to-execute-sql-queries-in-r-and-python
# https://pypi.org/project/shortuuid/
# len(str(uuid.uuid4()))

# ========================================================

#         if credite_amt > 0:
#             GET BALANCE
#             query = """select balance_amount 
#             from transactions_table
#             order by transaction_date desc
#             limit 1;"""
#             db_cursor.execute(query)
#             if len(db_cursor.fetchall()) > 0:
#                 balance_amount = db_cursor.fetchall()[0] + credite_amt
#             else:
#                 balance_amount = credite_amt

In [6]:
"invalid credentials please try again".upper()

'INVALID CREDENTIALS PLEASE TRY AGAIN'

In [40]:
query = f"""
select 
    tt.transaction_date, 
    tt.withdrawal_amount, 
    tt.deposit_amount, 
    tt.balance_amount
from transactions_table tt
where tt.account_no = (
    select cd.account_no
    from customer_details_table cd 
    where cd.account_name = 'kiran'); """
db_cursor.execute(query)
print(f"transaction_date \twithdrawal_amount \tdeposit_amount \tbalance_amount")
for result in db_cursor.fetchall():
    for col in result:
        print(f"{col}", end=' \t\t ')
    print('')

transaction_date 	withdrawal_amount 	deposit_amount 	balance_amount
2023-09-03 14:14:57 		 None 		 21.0 		 21.0
2023-09-04 11:54:40 		 1.2 		 None 		 19.8
2023-09-04 12:00:49 		 1.3 		 None 		 19.7
2023-09-04 12:02:16 		 1.3 		 None 		 19.7
2023-09-04 12:07:39 		 None 		 5.0 		 24.7
2023-09-04 12:45:32 		 None 		 2.2 		 26.9