In [2]:
# https://pypi.org/project/mysql-connector-python/
# !pip install mysql-connector-python

In [8]:
import mysql.connector as connection

In [14]:
try:
    mydb = connection.connect(host='localhost',
                             user='root',
                             password='root')
    print(f"Connected to : {mydb}")
    
    cursor = mydb.cursor()
    query = "show databases;"
    cursor.execute(query)
    print(f"{cursor.fetchall()}")
except Exception as e:
    mydb.close()
    print(f"Exception : {e}")

Connected to : <mysql.connector.connection_cext.CMySQLConnection object at 0x0000027AB4AAC730>
[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [21]:
# CREATE DATABASE
query = 'CREATE database project_practice;'
cursor.execute(query)
print(f"CREATE DATABASE : {cursor.fetchall()}")

query = "show databases;"
cursor.execute(query)
print(f"SHOW DATABASE :")
for db_name in cursor.fetchall():
    print(f"{db_name[0]}")

# TO DROP/DELETE DATABASE
# query = 'drop database project_practice;'

CREATE DATABASE : []
SHOW DATABASE :
information_schema
mysql
performance_schema
project_practice
sakila
sys
world

In [27]:
# CREATE TABLE
mydb = connection.connect(host='localhost',
                          user='root',
                          password='root', 
                          database='project_practice')
cursor = mydb.cursor()
print(f"Connected to : {mydb} , {cursor}")

query = """create table if not exists student_details (stud_id int(10) auto_increment primary key, first_name varchar(20),
last_name varchar(20), registration_date date, class varchar(20), section varchar(20));"""
# query = """use project_practice;
# create table student_details (stud_id int(10) auto_increment primary key, first_name varchar(20),
# last_name varchar(20), registration_date date, class varchar(20), section varchar(20));"""
cursor.execute(query)
print(f"SHOW TABLE : {cursor.fetchall()}")

Connected to : <mysql.connector.connection_cext.CMySQLConnection object at 0x0000027AB4A67DF0> , CMySQLCursor: (Nothing executed yet)
SHOW TABLE : []

In [34]:
# INSERT DATA
query = "INSERT INTO student_details (first_name, last_name, registration_date, class, section) VALUES (%s, %s, %s, %s, %s);"
values = ("John", "Smith", "2000-06-16", "1", "A")

cursor.execute(query, values)

mydb.commit()

print(cursor.rowcount, "record inserted.")

1 record inserted.

In [35]:
query = "INSERT INTO student_details (first_name, last_name, registration_date, class, section) VALUES (%s, %s, %s, %s, %s);"
values = [
    ("Sam", "Smith", "2002-06-11", "2", "B"),
    ("Lily", "Prince", "2003-07-17", "5", "C"),
    ("Anna", "Moly", "2001-05-26", "2", "A"),
    ("Will", "Turnor", "2003-06-11", "3", "B"),
    ("Jacky", "Chan", "2002-06-20", "4", "A")
]
# To insert multiple rows into a table, use the executemany() method.
cursor.executemany(query, values)

mydb.commit()

print(cursor.rowcount, "record inserted.")

5 record inserted.

In [37]:
query = "select * from student_details;"
cursor.execute(query)
print(f"TABLE student_details :")
for db_name in cursor.fetchall():
    print(f"{db_name}")

TABLE student_details :
(1, 'John', 'Smith', datetime.date(2000, 6, 11), '2', 'A')
(2, 'John', 'Smith', datetime.date(2000, 6, 11), '2', 'A')
(3, 'John', 'Smith', datetime.date(2000, 6, 16), '1', 'A')
(4, 'Sam', 'Smith', datetime.date(2002, 6, 11), '2', 'B')
(5, 'Lily', 'Prince', datetime.date(2003, 7, 17), '5', 'C')
(6, 'Anna', 'Moly', datetime.date(2001, 5, 26), '2', 'A')
(7, 'Will', 'Turnor', datetime.date(2003, 6, 11), '3', 'B')
(8, 'Jacky', 'Chan', datetime.date(2002, 6, 20), '4', 'A')

# USE CASE : BANK MANAGEMENT SYSTEM

## FLOW CHART

1. register
2. login 

### MENU WILL BE DISPLAYED

1. create bank account
2. transaction
3. customer details
4. transaction details
5. delete account
6. quit

#### option 3 and 4 : data is fetch from the database

#### option 1, 2, 5, 6 : data insert in the database